html {
  overflow: scroll;
}

html,
body {
  font-family: Menlo, monospace, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1em;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  transition: border-color 0.25s;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
a {
  font-weight: 500;
  color: #f02a0c;
  text-decoration: inherit;
}

a:hover {
  color: #f02a0c;
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

p {
  margin: 6px auto;
}

h1 {
  font-size: 2.2em;
  line-height: 0.5em;
}

hr {
  color: #444;
  border: 0.5px solid;
}

button {
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.5em 1.0em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

canvas {
  display: block;
}

/* Loot Underworld */

.App {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.AlignLeft { text-align: left; }
.AlignCenter { text-align: center; }
.AlignRight { text-align: right; }
.AlignTop { vertical-align: top; }
.AlignMiddle { vertical-align: middle; }
.AlignBottom { vertical-align: bottom; }

.NoPadding { padding: 0; }
.Padded { padding: 0.5em; }
.NoBorder { border: 0!important }

.Anchor {
  cursor: pointer;
}

.Spacer20 {
  width: 100%;
  min-height: 20px;
}
.Spacer50 {
  width: 100%;
  min-height: 50px;
}

.RealmPanel,
.MinterPanel {
  width: 620px;
  height: 350px;
  display: block;
}

.RealmImage,
.RealmData,
.MinterMap,
.MinterData {
  width: 250px;
  height: 350px;
  min-height: 350px;
  display: inline-block;
}
.RealmImage,
.MinterMap {
  width: 350px;
  border: 0.5px solid #444;
}

.DirectionButton {
  margin: 0.25em;
}

.SmallButton {
  margin: 0 0.1em;
  padding: 0.1em 0.4em;
}

.Locked {
  background-color: #94631f;
}
.Unlocked {
  background-color: #fbf6c0;
}
